/****container-elements that has focus*****/
.focused {
	border-color: #f35b1c !important;
}

/********** Inputs and selects **********/
.input-field {
    padding: 12px;
    width: 100%;
    border: solid 1px #c3b5a7;
    font-size: 1.2em;
    font-family: inherit !important;
    outline: none; /*Chrome override*/
    border-radius: 2px;

    /*Remove browser default style*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-field:focus {
	padding: 11px !important;
	border: 2px solid #f35b1c !important;
}

.input-field:disabled {
    background-color: white;
    color: transparent !important;
    border-color: #c3b5a787;
}

/*Removes the spinner arrows in webkit browsers and firefox*/
input[type=number] {-moz-appearance: textfield;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/********** Animation for input that is loading data **********/
.label_control.loading:before {
    content: "";
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    border-top: solid #257886 2px;
    margin-top: 13px;
    margin-left: 13px;
    /*background-color: red;*/
    animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
}

select, option {
	 font-family: inherit !important;
}

.select-container {
	position: relative;
}

.select-container .label_control::after {
	content: "";
	display: block;
	width: .7em;
	height: 0.7em;
	border: solid #512b2b;
	border-width: 0 0.1em 0.1em 0;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: absolute;
	right: 24px;
	bottom: calc(12px + 0.6em);
	pointer-events: none;
}

.select-container .label_control::before {
	content: "";
	position: absolute;
	width: calc(1em + 32px);
	height: calc(1em + 24px);
	background-color: white;
	right: 12px;
	bottom: 6px;
	pointer-events: none;
}

select {
	cursor: pointer;
	text-indent: 1px;
	text-overflow: '';
	background-color: white !important;
	padding-right: calc(1em + 32px) !important;
}

/*Remove browser default arrow in IE*/
select::-ms-expand {
    display: none;
}

/********** Attachments **********/
.attachment label.btn-primary {
    margin-top: 21px;
}

.attachment > div {
    font-size: inherit !important;
}

.attachment input[type="file"], .attachment #button_upload_updatexml {
    position: absolute !important;
    left: -999999999px !important;
}

.attachment .file-errors {
    margin-top: 5px !important;
}

/********** Checkboxes and radio-buttons **********/
.control-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: solid 2px transparent;
  padding: 0.8em;
}

.control-row.align-top {
  align-items: flex-start !important;
}

.control-row .label_control {
  width: 22px !important;
  height: 22px;
  border: solid #ab9f94 1px;
  border-radius: 2px;
  cursor: pointer;
  display: block !important;
}

.radio-container .label_control {
  border-radius: 50% !important;
}

.control-row .label_control.checked {
  border-color: #257886 !important;
  background-color: #257886;
  /*transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;*/
}

.control-row .label_control.checked::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-container .label_control.checked::after {
  width: 4px;
  height: 12px;
  border-style: solid;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg) translate3d( 0, 0, 1px);
  -webkit-transform: rotate(45deg) translate3d( 0, 0, 1px);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-color: white !important;
}

.radio-container .label_control.checked::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 5px;
  border: none;
  background-color: white;
}

.control-row input[type="checkbox"], input[type="radio"] {
  position: absolute;
  left: -999999999px;
}

.control-row .label_text {
  width: calc(100% - 24px - 0.5em) !important;
  display: block !important;
}

.control-row .label_text label {
  display: block;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	padding-left: 0.5em;
}

/******* HOVER *******/
.control-row .label_text:hover ~ .label_control:not(.checked) {
	background-color: #ab9f94;
}

.control-row .label_control:not(.checked):hover {
	background-color: #ab9f94;
}

.control-row .label_control.hovered {
	background-color: #ab9f94;
}

/******* FLOATING LABELS *******/
.label-float {
  position: relative;
}

.label-float label {
  position: absolute;
  margin-left: 1.2rem;
  padding-top: 1.2rem;
}

.label-float.hidden label {
  display: none;
}

.label-float input {
  padding: calc(1.2rem + 3px) 1.2rem 1.2rem 1.2rem;
  width: 100%;
  font-size: 1.2em;
  border: none;
  outline: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
}

.label-float input:focus {
  border-bottom-color: #4E6378;
}

.label-float:not(.hidden) input {
  padding-top: calc(2.4rem + 3px) !important;
}

/* Mozilla Firefox 19+ */
.label-float:not(.hidden) ::-moz-placeholder {
  color: transparent;
}
/* IE10+ */
.label-float:not(.hidden) :-ms-input-placeholder {
  color: transparent;
}
/* web-kit */
.label-float:not(.hidden) ::-webkit-input-placeholder {
  color: transparent;
}
